@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body
{
    background-image: url('../img/adobestock-77237485-1280x800.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
}
table
{
    margin: 0 auto;
}
img {
    border-radius: 10%;
  }

footer {
  
    background-color: white;
    background-size: contain;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #eee;
    padding: 20px ;
    text-align: center;
    width: 97.8%;
    float: left
  }
  